@media (max-width: 576px) {
  img[alt*='Logo']{
    width: 40px;
  }
}
@media (min-width: 576px) {
  img[alt*='Logo']{
    width: 50px;
  }
}
@media (min-width: 1184px) {
  img[alt*='A']{
      width: 60px;
  }
}

#tabletotal td{
  border:solid black;
}

th{
  border: #000 solid;
}

#headerimg1{
  height: 450px;
  width: 100%;
  background-image: linear-gradient(150deg, rgba(69, 133, 10, 0.589), rgba(35, 148, 6, 0.568) 10%, rgba(9, 133, 19, 0.493) 30%, rgba(41, 150, 14, 0.5) 50%, rgba(65, 170, 23, 0.521) 86%, rgba(60, 153, 17, 0.514)), url("Great hornbill by Allerlei on DeviantArt.jpg");
  background-position: 0%, 0%, 50%, 50%;
  background-attachment: scroll, fixed;
  background-size: auto, cover;
}

#pro1{
  color: rgba(253, 255, 116, 0.89);
}

.logo-container-div {
  min-height: 70vh;
}

.logo-wrapper {
  font-family: 'Raleway', sans-serif;
  padding: 25px 30px;
  border: 2px solid white;
  color:#fff;
  text-align:center;
}

.logo-wrapper h1 {
font-size: 100px;
}

.logo-wrapper p {
font-size: 30px;
}

/*card*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/*footer*/
footer{
  width: 100%;
  background-image: linear-gradient(150deg, rgba(69, 133, 10, 0.589), rgba(35, 148, 6, 0.568) 10%, rgba(9, 133, 19, 0.493) 30%, rgba(41, 150, 14, 0.5) 50%, rgba(65, 170, 23, 0.521) 86%, rgba(60, 153, 17, 0.514)),url("./115749-new-272253.jpg");
  background-position: 0%, 0%, 50%, 50%;
  background-attachment: scroll, fixed;
  background-size: auto, cover;
}

.profile{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

